body {
  background-color: aqua;
}

h1 {
  background-color:lightgreen;
  color:limegreen;
  font-family:cursive;
}

p{
  font-size: xx-small;
  color:lightskyblue
}

button{
  font-size: 8px;
  padding: 2px 4px;
  line-height: 1;
}