body {
  background-color: aqua;
}

h1 {
  background-color:yellow;
  color:limegreen;
  font-family:cursive;
}

p{
  font-size: xx-small;
  color:lightskyblue;
  font-family: fantasy;
}



button{
  font-size: 5px;
  padding: 1px 2px;
  line-height: 1;
  color:brown;
  background-color: #fe019a;
}